<h2>Number of questions: {{number[0]}}</h2>
<h2>Unanswered: {{number[0] - number[1]}}</h2>

{% for question in questions %}

<hr>
<i>id: {{question[0]}} user: {{question[2]}}</i> 
<p>
<i>question: {{question[1]}}</i>
<p>
<form action="#" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="question_id" value="{{question [0]}}" />
    {% if question[3] == False %}
    <p><input type="submit" name="action" value="Approve question" /></p>
    {% endif %}
    <p><input type="submit" name="action" value="Delete question" /></p>
    {% if not question[4] %}
    <p>Answer question: <input type="text" name="answer"></p>
    <p><input type="submit" name="action" value="Answer question" /></p>
    {% else %}
    <p>Answer: {{question[5]}}</p>
    {% endif %}
</form>
<hr>

{% endfor %}

<a href="{{url_for('index')}}" class="button">Home</a>
<a href="{{url_for('control_center')}}" class=""button">Admin page</a>