{% extends "layout.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<h1>Welcome the event page!</h1>
<h2>Upcoming events:</h2>

{% for event in upcoming %}

<hr>
<i>{{event[0]}}</i>
<p>
<i>Description: {{event[2]}}</i>
<p>
<i>Date: {{event[1]}}</i>
<p>
<i>Organizer: {{event[3]}}</i>
<hr>

{% endfor %}

<h2>Recent past events:</h2>

{% for event in past %}

<hr>
<i>{{event[0]}}</i>
<p>
<i>Description: {{event[2]}}</i>
<p>
<i>Date: {{event[1]}}</i>
<p>
<i>Organizer: {{event[3]}}</i>
<hr>

{% endfor %}

<a href="{{url_for('index')}}" class="button">Home</a>

{% endblock %}