{% extends "layout.html" %}
{% block title %}Home page{% endblock %}
{% block content %}

<p style="text-align: center;">Welcome to The Organizations site!</p>

{% if admin == "confirm" %}

<a href="{{url_for('accounts')}}" class="button">View all accounts</a>

<a href="{{url_for('control_center')}}" class="button">Admin page</a>

{% endif %}

{% if session.user %}

<p>You are currently logged in as {{session.user}}.</p>
<a href="{{url_for('user')}}" class="button">User page</a>
<a href="{{url_for('logout_page')}}" class="button">Sign out</a>
<a href="{{url_for('review_page')}}" class="button">Leave a review</a>

{% else %}

<a href="{{url_for('registration_page')}}" class="button">Register here</a>
<a href="{{url_for('login_page')}}" class="button">Log in here</a>

{% endif %}

<a href="{{url_for('review_board')}}" class="button">Read reviews</a>
<a href="{{url_for('question_board')}}" class="button">Read questions</a>
<a href="{{url_for('event_board')}}" class="button">View events</a>



{% endblock %}