{% extends "layout.html" %}
{% block title %}Questions{% endblock %}
{% block content %}

<p>Questions that have been asked:</p>

{% for question in questions %}

<hr>
<i>Question {{question[0]}}:</i>
<p>
<i>{{question[1]}}</i>
{% if question[5] %}
<p>
<i>Answered by {{question[6]}}: {{question[5]}}</i>
{% endif %}
<hr>

{% endfor %}

{% if session.user %}

<a href="{{url_for('question_page')}}" class="button">Ask a question</a>

{% else %}

<p>Only logged in users can ask questions.</p>
<a href="{{url_for('login_page')}}" class="button">Log in here</a>

{% endif %}

<a href="{{url_for('index')}}" class="button">Home</a>

{% endblock %}