{% extends "layout.html" %}
{% block title %}Leave a question{% endblock %}
{% block content %}

{% if session.user %}

<p>You can leave a question regarding the organization below.</p>
<form action="{{url_for('question_page')}}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <p>Question:</p>
    <p><input type="text" name="question" required /></p>
    <p><input type="submit" value="Send question"/></p>
</form>

{% else %}

<p>You need to be logged in to leave a question.</p>
<a href="{{url_for('login_page')}}" class="button">Log in here</a>

{% endif %}

{% endblock %}