{% extends "layout.html" %}
{% block title %}Reviews{% endblock %}
{% block content %}

<p>The Organization has recieved an average score of {{ avrgresult }} from the following reviews:</p>

{% for review in reviews %}

<hr>
<i>User {{review[2]}} says:</i>
<p>
<i>{{review[0]}} {{review[1]}}/10</i>
<hr>

{% endfor %}

{% if session.user %}

<a href="{{url_for('review_page')}}" class="button">Leave a review</a>

{% else %}

<p>Only logged in users can leave reviews.</p>
<a href="{{url_for('login_page')}}" class="button">Log in here</a>

{% endif %}


<a href="{{url_for('index')}}" class="button">Home</a>

{% endblock %}