<p>You have asked the following questions:</p>

{% for question in questions %}

<hr>
<i>Question:</i>
<p>
<i>{{question[1]}}</i>
<p>
<form action="#" method="POST">
    <input type="hidden" name="question" value="{{ question[0] }}" />
    <p><input type="submit" value="Delete question" /></p>
</form>
<hr>

{% endfor %}

<a href="{{url_for('user')}}" class="button">User page</a>
<a href="{{url_for('index')}}" class="button">Home</a>

<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        text-align: center;
        background-color: blue;
    
    }
</style>