{% if review %}

<p>You have left the following review:</p>

<hr>
<i>{{review[0]}} {{review[1]}}/10</i>
<p>
<form action="#" method="POST">
    <p><input type="submit" value="Delete review" /></p>
</form>
<hr>

{% if review[2] == False %}

<p>Your review is currently pending approval.</p>

{% endif %}

{% else %}

<p>You haven't left a review yet.</p>
<a href="{{url_for('review_page')}}" class="button">Leave a review</a> <br>

{% endif %}


<a href="{{url_for('user')}}" class="button">User page</a>
<a href="{{url_for('index')}}" class="button">Home</a>

<style>
    .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        text-align: center;
        background-color: blue;
    
    }
</style>